<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">


  <!-- Favicon -->
  <link href='/img/favicon.png' rel='shortcut icon'>

  <!-- Fonts -->
  <link href="{{ "/assets/foundation-icons.css" | relative_url }}" rel='stylesheet' type='text/css' />

  <!-- RSS -->
  {% feed_meta %}

</head>
