<nav class="nav">
  <div class="nav-container">
    <a class="nav-brand" href="{{ site.baseurl }}/">
      <img src="{{ '/img/eyenx.png' | relative_url }}" alt="{{ site.title }}" width="40" height="40">
      <span>
        <strong>{{ site.title }}</strong>
        <small>{{ site.description }}</small>
      </span>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a></li>
    </ul>
  </div>
</nav>
